# Week 7 (1) - 함수
### 인공지능과 컴퓨팅 사고 - AI Computational Thinking
##### Author : Jihyeon Ryu
##### Date : 2024-10-14 (Mon)

# 0. 리스트와 튜플 복습

리스트 (List)
* 자료의 집합
* 리스트는 여러 개 값을 집합적으로 저장

요소 (Element)
* 리스트에 소속되는 각각의 값
* 리스트에는 주로 같은 타입 요소를 모음

튜플
* 불변 자료 집합
* 튜플은 초기화한 후 편집할 수 없다는 점에서 리스트와 차이
* 소괄호 사용하여 정의
* print : 튜플 출력 시 소괄호 함께 출력하여 리스트 아님을 나타냄
* 정의할 때에는 소괄호 없이 값만 나열해도 무관함
* 요소 하나밖에 없는 경우에는 값 다음에 콤마 찍어 튜플임을 표시

In [ ]:

# =============== listscore  ===============
score = [ 88, 95, 70, 100, 99 ]
sum = 0
for s in score:
    sum += s
print("총점 : ", sum)
print("평균 : ", sum / len(score))

개별 요소 읽기와 요소의 범위 지정

In [ ]:

# =============== listslice  ===============
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:5])        # 2~5까지
print(nums[:4])         # 처음부터 4까지
print(nums[6:])         # 6에서 끝까지
print(nums[1:7:2])      # 1~7까지 하나씩 건너뛰며

In [ ]:

# =============== nestlist  ===============
lol = [ [1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(lol[0])
print(lol[2][1])

for sub in lol:
    for item in sub:
        print(item, end=' ')
    print()

리스트 컴프리헨션 (List Comprehension)
* [수식 for 변수 in 리스트 if 조건]

In [ ]:
# =============== listcomp  ===============
nums = [n * 2 for n in range(1, 11)]
for i in nums:
    print(i, end = ', ')

In [ ]:
# =============== insertrange  ===============
nums = [1, 2, 3, 4]
nums[2:2] = [90, 91, 92]
print(nums)

nums = [1, 2, 3, 4]
nums[2] = [90, 91, 92]
print(nums)

In [ ]:
# =============== listinsert  ===============
nums = [1, 2, 3, 4]
nums.append(5)
print(nums)
nums.insert(2, 99)
print(nums)

In [ ]:
# =============== insertrange  ===============
nums = [1, 2, 3, 4]
nums[2:2] = [90, 91, 92]
print(nums)

nums = [1, 2, 3, 4]
nums[2] = [90, 91, 92]
print(nums)

In [ ]:
# =============== extend  ===============
list1 = [1, 2, 3, 4, 5]
list2 = [10, 11]
list3 = list1 + list2
list1.extend(list2)
print(list1)
print(list3)

In [ ]:
# =============== listremove  ===============
score = [ 88, 95, 70, 100, 99, 80, 78, 50 ]
score.remove(100)
print(score)
del(score[2])
print(score)
score[1:4] = []
print(score)

In [ ]:
# =============== pop  ===============
score = [ 88, 95, 70, 100, 99 ]
print(score.pop())
print(score.pop())
print(score.pop(0))
print(score)

In [ ]:
# =============== listindex  ===============
score = [ 88, 95, 70, 100, 99, 80, 78, 50 ]
perfect = score.index(100)
print("만점 받은 학생은 " + str(perfect) + "번입니다.")
pernum = score.count(100)
print("만점자 수는 " + str(pernum) + "명입니다")

In [ ]:
# =============== sort  ===============
score = [ 88, 95, 70, 100, 99 ]
score.sort()
print(score)
score.reverse()
print(score)

In [ ]:
# =============== sorted  ===============
score = [ 88, 95, 70, 100, 99 ]
score2 = sorted(score)
print(score)
print(score2)

In [ ]:
# =============== tupleop  ===============
tu = 1, 2, 3, 4, 5
print(tu[3])         # 가능
print(tu[1:4])       # 가능
print(tu + (6, 7))    # 가능
print(tu * 2)        # 가능      
tu[1] = 100          # 불가능
del tu[1]            # 불가능

In [ ]:
# =============== swap  ===============
a, b = 12, 34
print(a, b)
a, b = b, a
print(a, b)

In [ ]:
# =============== convertlist  ===============
score = [ 88, 95, 70, 100, 99 ]  ## list 로 정의
tu = tuple(score)                ## tuple로 변환
#tu[0] = 100
print(tu)
li = list(tu)                    ## list로 변환
li[0] = 100
print(li)

In [3]:
score1 = [88, 95, 70, 100, 99, 80]
score2 = [1, 2, 3, 4, 5, 6]
score3 = score1 + score2
score4 = score1 * 2
print(score4.index(80))
score3.remove(100)
del(score3[2])
score4[1:3] = []
print(score3)
print(score3.pop())
score4.sort()
print(score3)
print(score4)

5
[88, 95, 99, 80, 1, 2, 3, 4, 5, 6]
6
[88, 95, 99, 80, 1, 2, 3, 4, 5]
[70, 80, 80, 88, 88, 95, 99, 99, 100, 100]

# 1. 함수

다음과 같은 반복되는 코드를 처리하기 위해 함수를 사용한다.

In [ ]:
sum = 0
for num in range(5):
    sum += num
print("~ 4 =", sum)

sum = 0
for num in range(11):
    sum += num
print("~ 10 =", sum)

함수
* 일련의 코드 블록에 이름을 붙여 정의한 것
* 자주 반복되는 코드 사용이 용이해짐
* 호출문으로 실행
* 함수(인수 목록)

In [ ]:
def calcsum(n):
    sum = 0
    for num in range(n + 1):
        sum += num
    return sum

print("~ 4 =", calcsum(4))
print("~ 10 =", calcsum(10))

인수
* 호출원에서 함수로 전달되는 작업거리
* 함수의 동작에 변화 주어 활용성 높임
* 매개변수
* 형식 인수 = 함수 정의문의 인수
* 실인수 = 함수 호출문에서 전달하는 인수

In [ ]:
def calcrange(begin, end):
    sum = 0
    for num in range(begin, end + 1):
        sum += num
    return sum

print("3 ~ 7 =", calcrange(3, 7))

리턴값
* 함수의 실행 결과를 호출원으로 돌려주는 값
* 리턴값 반환할 때 return 명령 뒤에 반환할 값을 지정
* 위의 calcsum, calcrange 함수의 경우
* return sum
* 리턴값이 무조건 있어야 하는 것은 아님

In [ ]:
def printsum(n):
    sum = 0
    for num in range(n + 1):
        sum += num
    print("~", n, "=", sum)

printsum(4)
printsum(10)

가변 인수
* 고정되지 않은 임의 개수의 인수를 받음
* \* 기호를 인수 이름 앞에 붙임
* 인수 목록의 마지막에 와야 함
  * intsum(s, *int) ## 가능
  * intsum(*int, s) ## 에러
  * intsum(*int, *nums) ## 에러

In [ ]:
def intsum(*ints):
    sum = 0
    for num in ints:
        sum += num
    return sum

print(intsum(1, 2, 3))
print(intsum(5, 7, 9, 11, 13))
print(intsum(8, 9, 6, 2, 9, 7, 5, 8))

인수의 기본값
* 위 calcrange 함수에 중간값을 인수로 전달할 경우
* 범위 내 수를 건너뛰어 합계 구함

In [ ]:
def calcstep(begin, end, step):
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum

print("1 ~ 10 =", calcstep(1, 10, 2))
print("2 ~ 10 =", calcstep(2, 10, 2))

잘 바뀌지 않는 인수는 인수 목록에 기본값 지정
* 실인수 생략하면 기본값 전달한 것으로 가정

In [ ]:
def calcstep(begin, end, step=1):
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum

print("1 ~ 10 =", calcstep(1, 10, 2))
print("1 ~ 100 =", calcstep(1, 100))

키워드 인수
* 인수 이름 지정하여 대입 형태로 전달하는 방식

In [ ]:
def calcstep(begin, end, step):
    sum = 0
    for num in range(begin, end + 1, step):
        sum += num
    return sum


print("3 ~ 5 =", calcstep(begin = 3, end = 5, step = 1))
print("3 ~ 5 =", calcstep(step = 1, end = 5, begin = 3))

키워드 가변 인수
* \** 기호를 인수 목록에 붙여 키워드 인수를 가변 개수 전달함

In [5]:
def seqfun(n, *f):
    f1, f2, f3 = f
    if n < 1:
        return "알 수 없는 값"
    elif n == 1:
        return f1
    elif n == 2:
        return f2
    elif n == 3:
        return f3
    else:
        return seqfun(n-1, f1, f2, f3) + seqfun(n-2, f1, f2, f3) + seqfun(n-3, f1, f2, f3)
n = int(input("양의 정수 n을 입력하세요: "))
f1 = int(input("첫번째 항을 입력하세요."))
f2 = int(input("두번째 항을 입력하세요."))
f3 = int(input("두번째 항을 입력하세요."))
result = seqfun(n, f1, f2, f3)
print("수열의 ", n,"번째 항은 ", result, "입니다.", sep = '')

양의 정수 n을 입력하세요:  11
첫번째 항을 입력하세요. 1
두번째 항을 입력하세요. 2
두번째 항을 입력하세요. 3

수열의 11번째 항은 423입니다.

위치 인수와 키워드 인수를 동시에 가변으로 취할 수 있음

In [ ]:
def calcscore(name, *score, **option):
    print(name)
    sum = 0
    for s in score:
        sum += s
    print("총점 :", sum)
    if (option['avg'] == True ):
        print("평균 :", sum / len(score))

calcscore("김상형", 88, 99, 77, avg = True)
calcscore("김한슬", 99, 98, 95, 89, avg = False)

In [ ]:
def calcscore(x, *y, **z):
    print(x)
    sum = 0
    for s in y:
        sum += s
    print("총점 :", sum)
    if (z['abc'] == True ):
        print("평균 :", sum / len(y))

calcscore("김상형", 88, 99, 77, abc = True)
calcscore("김한슬", 99, 98, 95, 89, abc = False)

지역변수와 전역변수
* 지역변수 : 함수 내부에서 선언하는 변수, 함수 내부에서만 사용되고 밖으로는 알려지지 않음
* 전역변수 : 함수 바깥에서 선언하는 변수, 어디에서나 참조할 수 있음

In [ ]:
def kim():
    temp = "김과장의 함수"
    print(temp)

kim()
print(temp)

In [ ]:
def kim():
    temp = "김과장의 함수"
    print(temp)

def lee():
    temp = 2 ** 10
    return temp

def park(a):
    temp = a * 2
    print(temp)

kim()
print(lee())
park(6)

In [ ]:
salerate = 0.9

def kim():
    print("오늘의 할인율 :", salerate)

def lee():
    price = 1000
    print("가격 :", price * salerate)

kim()
salerate = 1.1
lee()

In [ ]:
price = 1000

def sale():
    price = 500

sale()
print(price)

* global 함수 : 함수 내부에서 지역 변수 새로 만들지 않고 전역 변수 참조하게 함

In [1]:
price = 1000

def sale():
    global price
    price = 500

sale()
print(price)

500

docstring
* 함수 선언문과 본체 사이에 작성하는 문자열
* 함수의 사용법, 인수의 의미, 주의사항 등 설명 작성
* 실행에는 영향 없음

In [ ]:
def calcsum(n):
    """1 ~ n까지의 합계를 구해 리턴한다."""
    sum = 0
    for i in range(n+1):
        sum += i
    return sum

help(calcsum)

# 2. 함수 연습문제

사용자로부터 양의 정수 n을 입력받고, n번째 피보나치 수를 계산하여 출력하는 피보나치 함수를 구현하세요. 단, 첫번째 피보나치 수는 0, 두번째 피보나치 수는 1이며, n번째 피보나치 수 $f_n$은 $f_n = f_{n-1} + f_{n-2}$ 를 만족합니다.

In [ ]:
def fib(n):
    """이 부분을 채워넣으세요."""

n = int(input("양의 정수 n을 입력하세요: "))
result = fib(n)
print(n, "번째 피보나치 수는 ", result, "입니다.", sep = '')

양의 정수 n을 입력하세요:  11

11번째 피보나치 수는 55입니다.