# Week 7 (2) - 문자열 +
### 인공지능과 컴퓨팅 사고 - AI Computational Thinking
##### Author : Jihyeon Ryu
##### Date : 2024-10-16 (Wed)

# 0. 함수 복습

In [ ]:
def printsum(n):
    sum = 0
    for num in range(n + 1):
        sum += num
    print("~", n, "=", sum)

printsum(4)
printsum(10)

In [ ]:
def calcscore(x, *y, **z):
    print(x)
    sum = 0
    for s in y:
        sum += s
    print("총점 :", sum)
    if (z['abc'] == True ):
        print("평균 :", sum / len(y))

calcscore("김상형", 88, 99, 77, abc = True)
calcscore("김한슬", 99, 98, 95, 89, abc = False)

In [ ]:
def introduce_yourself(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

introduce_yourself(name="Alice", age=30, job="Engineer")

# 0. 문자열 복습

문자열은 list 형태로 되어있어 각 값에 index가 부여되어 있습니다. 가장 앞에 나오는 것을 0번째 index로 취급하며 다음 순서에 따라 하나씩 증가합니다.

또한, 문자열 음수 index는 문자열의 맨 뒤에서부터 확인하는 것을 의미합니다.

In [ ]:
s = "python"
print(s[2])
print(s[-2])

슬라이스
* 범위 지정하여 부분 문자열을 추출
* [begin:end:step]
* 시작, 끝, 증가량을 지정

In [ ]:
s = "python"
print(s[2:5])
print(s[3:])
print(s[:4])
print(s[2:-2])

In [ ]:
file = "20171224-104830.jpg"
print("촬영 날짜 : " + file[4:6] + "월 " + file[6:8] + "일")
print("촬영 시간 : " + file[9:11] + "시 " + file[11:13] + "분")
print("확장자 : " + file[-3:])

In [ ]:
yoil = "월화수목금토일"
print(yoil[::2])
print(yoil[::-1])

* len 함수 : 문자열의 길이 조사
* find 메서드 : 인수로 지정한 문자 또는 부분 문자열의 위치 조사
* rfind 메서드 : 뒤에서 검색 시작
* count 메서드 : 특정 문자 개수

In [ ]:
s = "python programming"
print(len(s))
print(s.find('o'))
print(s.rfind('o'))
print(s.index('r'))
print(s.count('n'))

In [ ]:
s = """생각이란 생각할수록 생각나므로 생각하지 말아야 할 생각은 생각하지 
않으려고 하는 생각이 옳은 생각이라고 생각합니다."""
print("생각의 출현 횟수 :", s.count('생각'))

In [ ]:
s = "python programming"
print('a' in s)
print('z' in s)
print('pro' in s)
print('x' not in s)

# 1. 문자열 +

## 1.1. 문자열의 매서드

문자열의 시작값 판단
* string.startswith("시작값")
  
문자열의 끝값 판단
* string.endswith("끝값")

In [ ]:
name = "김한결"
if name.startswith("김"):
    print("김가입니다.")
if name.startswith("한"):
    print("한가입니다.")

file = "girl.jpg"
if file.endswith(".jpg"):
    print("그림 파일입니다.")

문자열 method
* isalpha : 알파벳
* islower : 소문자
* isupper : 대문자
* isspace : 공백
* isalnum : 알파벳 혹은 숫자
* isdecimal : 숫자
* isdigit : 숫자
* isnumeric : 숫자
* isidentifier : 변수명 가능 문자
* isprintable : 인쇄 가능한 문자

In [ ]:
height = input("키를 입력하세요 :")
if height.isdecimal():
    print("키 =", height)
else:
    print("숫자만 입력하세요.")

lower 메서드 / upper 메서드
* 각기 영문자를 전부 소문자 / 대문자로 바꿈

In [ ]:
python = input("파이썬의 영문 철자를 입력하시오 : ")
if python.lower() == "python":
    print("맞췄습니다.")

swapcase / capitalize / title
* 대문자 <-> 소문자 / 첫자만 대문자, 나머지는 소문자 / 띄어쓰기 뒤는 대문자, 나머지는 소문자

In [ ]:
s = "Good morning. my love KIM."
print(s.lower())
print(s.upper())
print(s)

print(s.swapcase())
print(s.capitalize())
print(s.title())

lstrip / rstrip / strip 메서드
* 왼쪽 / 오른쪽 / 양측 공백을 제거

In [ ]:
s = "  angel   "
print(s + "님")
print(s.lstrip() + "님")
print(s.rstrip() + "님")
print(s.strip() + "님")

split 메서드
* 구분자를 기준으로 문자열을 분할

splitlines 메서드
* 개행 문자나 파일 구분자 등 기준으로 문자열 잘라 리스트로 만듦

In [ ]:
s = "짜장 짬뽕 탕슉"
print(s.split())

s2 = "서울->대전->대구->부산"
city = s2.split("->")
print(city)
for c in city:
    print(c, "찍고", end = ' ')

In [ ]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
    print(line)

join 메서드
* 문자열의 각 문자 사이에 다른 문자열 끼워넣음

In [ ]:
s = "._."
print(s.join("대한민국"))

In [ ]:
s2 = "서울->대전->대구->부산"
city = s2.split("->")
print(" 찍고 ".join(city))

대체
replace 메서드
* 특정 문자열을 찾아 다른 문자열로 대체
* 첫 번째 인수 : 검색할 문자열 지정
* 두 번째 인수 : 바꿀 문자열 지정

In [ ]:
s = "독도는 일본땅이다. 대마도도 일본땅이다."
print(s)
print(s.replace("일본", "한국"))

just 메서드
* 문자열을 특정 폭에 맞추어 정렬

center 메서드
* 중앙 정렬

In [ ]:
message = "안녕하세요."
print(message.ljust(30))
print(message.rjust(30))
print(message.center(30))

In [5]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
    print(line.center(30))

           강나루 건너서
            밀밭 길을

          구름에 달 가듯이
            가는 나그네

            길은 외줄기
            남도 삼백리

          술 익는 마을마다
            타는 저녁놀

          구름에 달 가듯이
            가는 나그네

## 1.2. 문자열의 포맷팅

포맷팅
* 문자열 사이사이에 다른 정보 삽입하여 조립하는 기법

In [ ]:
price = 500
print("궁금하면 " + str(price) + "원!")

In [ ]:
price = 500
print("궁금하면 %d원!" % price)

In [ ]:
month = 8
day = 15
anni = "광복절"
print("%d월 %d일은 %s이다." % (month, day, anni))

In [ ]:
value = 123
print("###%d###" % value)
print("###%5d###" % value)
print("###%10d###" % value)
print("###%1d###" % value)

서식
* %[-]폭[.유효자리수]서식
* 폭에 – 지정하여 왼쪽 정렬
* . 기호로 소수점 이하 표시 자리수 설정

In [ ]:
price = [30, 13500, 2000]
for p in price:
    print("가격:%d원" % p)
for p in price:
    print("가격:%7d원" % p)

In [ ]:
price = [30, 13500, 2000]
for p in price:
    print("가격:%-7d원" % p)

In [ ]:
pie = 3.14159265
print("%10f" % pie)
print("%10.8f" % pie)
print("%10.5f" % pie)
print("%10.2f" % pie)

In [ ]:
name = "길동"
age = 16
height = 162.5
print("이름:{}, 나이:{}, 키:{}".format(name, age, height))

In [ ]:
name = "길동"
age = 16
height = 162.5
print("이름:{0:s}, 나이:{1:d}, 키:{2:f}".format(name, age, height))

In [ ]:
name = "길동"
age = 16
height = 162.5
print("이름:{0:10s}, 나이:{1:5d}, 키:{2:8.2f}".format(name, age, height))

In [ ]:
name = "길동"
age = 16
height = 162.5
print("이름:{0:^10s}, 나이:{1:>5d}, 키:{2:<8.2f}".format(name, age, height))

In [4]:
name = "길동"
age = 16
height = 162.5
print("이름:{0:$^10s}, 나이:{1:>05d}, 키:{2:!<8.2f}".format(name, age, height))

이름:$$$$길동$$$$, 나이:00016, 키:162.50!!

In [3]:
name = "길동"
age = 16
height = 162.5
print(f"이름:{name:$^10s}, 나이:{age:>05d}, 키:{height:!<8.2f}")

이름:$$$$길동$$$$, 나이:00016, 키:162.50!!

# 2. 문자열 연습문제

사용자의 이름, 키, 체중을 입력받아 개별 bmi, 비만상태, 평균키와 체중을 계산하는 프로그램을 작성하세요. 단, bmi 및 비만 상태의 계산 방법은 다음과 같습니다.
* bmi = weight / ((0.01 * height) ** 2)
* bmi < 18.5 => 저체중
* 18.5 <= bmi < 25 => 정상 체중
* 25 <= bmi < 30 => 과체중
* 30 <= bmi => 비만

In [11]:
user_data = []

while True:
    name = input("이름을 입력하세요 (0을 입력하면 종료): ")
    if name == '0':
        break
    height = float(input("키를 cm 단위로 입력하세요: "))
    weight = float(input("체중을 kg 단위로 입력하세요: "))
    #### (1) 이 부분을 채워넣으세요. - user_data에 name, height, weight를 추가하는 부분 #####
    
print("이름\t키(cm)\t체중(kg)\tBMI\t상태")
print("================================================")

index = 0     # 인원 확인
sumheight = 0 # 전체 인원의 키 합산
sumweight = 0 # 전체 인원의 체중 합산
for data in user_data:
    #### (2) 이 부분을 채워넣으세요 - data에서 name, weight, height를 빼오는 부분 ####
    
    #### (3) 이 부분을 채워넣으세요 - BMI를 계산하는 부분 ####
    #### (4) 이 부분을 채워넣으세요 - BMI에 따라 상태를 분류하는 부분 ####
    #### (5) 이 부분을 채워넣으세요 - 개별 이름, 키, 체중, bmi, 상태 출력 ####
    index += 1          # 인원 증가
    sumheight += height # 키 합산
    sumweight += weight # 체중 합산

print("================================================")
print("평균 키:", sumheight/index)
print("평균 체중:", sumweight/index)

이름을 입력하세요 (0을 입력하면 종료):  기억
키를 cm 단위로 입력하세요:  150
체중을 kg 단위로 입력하세요:  55
이름을 입력하세요 (0을 입력하면 종료):  니은
키를 cm 단위로 입력하세요:  160
체중을 kg 단위로 입력하세요:  45
이름을 입력하세요 (0을 입력하면 종료):  디귿
키를 cm 단위로 입력하세요:  170
체중을 kg 단위로 입력하세요:  55
이름을 입력하세요 (0을 입력하면 종료):  리을
키를 cm 단위로 입력하세요:  180
체중을 kg 단위로 입력하세요:  85
이름을 입력하세요 (0을 입력하면 종료):  미음
키를 cm 단위로 입력하세요:  150
체중을 kg 단위로 입력하세요:  80
이름을 입력하세요 (0을 입력하면 종료):  0

이름	키(cm)	체중(kg)	BMI	상태
================================================
기억	150.0	55.0		24.44	정상 체중
니은	160.0	45.0		17.58	저체중
디귿	170.0	55.0		19.03	정상 체중
리을	180.0	85.0		26.23	과체중
미음	150.0	80.0		35.56	비만
================================================
평균 키: 162.0
평균 체중: 64.0