# Week 2 (1) - 변수
### 인공지능과 컴퓨팅 사고 - AI Computational Thinking
##### Author : Jihyeon Ryu
##### Date : 2024-9-9 (Mon)

# 0. 복습
## 0.0. 코드 실행
Jupyter notebook에서는 shift + Enter로 간단하게 입력 및 출력을 실행할 수 있습니다. 다음의 코드를 실행해볼까요?

In [ ]:
s = "안녕하세요. 만나서 반갑습니다."
print(s)

In [ ]:
s2 = "앞으로 한 학기동안 잘 부탁드립니다."
print(s2)

Jupyter notebook은 c언어와 다르게, 미리 변수를 선언하지 않아도 사용할 수 있습니다. 선언하지 않고 사용해도 되니, 별도의 변수 타입을 지정하지 않아도 되겠지요. 다음의 예를 실행해 볼까요?

In [ ]:
print(3 + 4)

In [ ]:
a = 1
b = 2

In [ ]:
print(a + b)

In [ ]:
x = '서울'
y = '부산'
print(x, '과', y)

잘 했습니다.  
  
우리는, a, b 변수에는 정수 형태의 값을 저장하였지만 별도 선언을 하지 않았습니다.  
또한, 우리는 x, y 변수에는 문자열 형태의 값을 저장하였지만 마찬가지로 별도 선언을 하지 않았습니다.  
이미 감을 잡았겠지만, print 함수는 c 함수에서의 printf 함수와 유사한 동작을 하여, 사용자에게 값을 보여주는 역할을 수행합니다.

## 0.1. Markdown과 친숙해지기
Jupyter notebook에서는 Markdown 기능이 있습니다. 위의 Code로 되어있는 세팅을 Markdown으로 바꾸어, 원하는 내용을 입력해볼까요?

In [ ]:
이 부분을 Markdown으로 바꾸어보세요

In [ ]:
# 강조에 따라
## 여러가지 markdown 형태로
### 활용할 수 있습니다.
#### markdown으로 바꾸어서 사용해보세요.

다음 markdown 된 코드는 Code로 변경하여 활용해보세요.

print('이 부분은 Code로 바꾸어 활용해보세요.')

이 문장 다음 부분에 원하는 Markdown을 직접 셀을 추가하여 만들어보세요. 우측 셀 추가 기호 (Insert a cell bellow)를 사용하면 쉽게 셀을 추가할 수 있습니다.  
또한, Markdown으로 변경하여 실행하는 것을 잊지 마세요!

이 위에 원하는 Markdown을 추가하세요.

## 0.3. 파일 확인 및 .py 파일로 확인하기
지금 이 파일은 ipynb 파일로, jupyter notebook 파일입니다. 우린 이 파일을 IDLE 환경에서 사용할 수 있는 .py 파일로 변경할 수 있습니다.

colab에서는 해당 파일을 py 파일로 다운로드 혹은 열기로 더 편리하게 변환할 수 있지만, local 환경에서 변환하기 위해서는, cmd (명령 프롬프트) 창에 다음의 명령어를 실행해야 합니다.

[명령어] pip install nbconvert  
[명령어] jupyter nbconvert --to script filename.ipynb

cmd 창까지 가는 것이 번거로우니까, ipynb 파일에서 직접 python 파일을 cmd에 입력하는 것처럼 만들어볼까요? (간단합니다 앞에 !만 붙여주면 됩니다!)

In [ ]:
!jupyter nbconvert --to script Week2_1.ipynb

그럼, 해당 폴더에 가서 한번 python 파일이 잘 생성되었는지 확인해봅시다.

#
# 1. 기본구조
## 1.1. 공백과 개행, 들여쓰기
c언어에서는 중괄호 {}로 범위를 표현했습니다. 그러나 파이썬은 개행과 들여쓰기로 범위를 표현합니다.
그렇다고 모든 띄어쓰기가 의미 있는 것은 아닙니다. 공백은 관련 없이 동작합니다. 예를 들어보겠습니다.

In [ ]:
print(1 + 2)
print(1+2)
print(1  +  2)

위와 같이, 파이썬 코드는 공백에는 무관하게 동작하는 것을 확인할 수 있습니다.
파이썬은 sensitive합니다. 이는 대문자와 소문자를 구분하여 인식한다는 뜻입니다. 다음의 예를 통해 이를 확인해봅시다.

In [ ]:
print(1+2)

In [ ]:
Print(1+2)

In [ ]:
prinT(1+2)

In [ ]:
PRINT(1+2)

print 함수는 소문자만으로 이루어져 있습니다. 이를 대문자로 임의로 변경하여 사용하면 python은 인식하지 못하는 것을 확인할 수 있습니다.

또한, python 코드는 c언어에서 {} (중괄호) 로 표기했던 부분을 들여쓰기와 개행으로 표기합니다.

아작 python에서 if문을 배우지는 않았지만, 이미 어느정도는 알고 있으므로, if문으로 예를 들어봅시다. 아래 코드의 age를 바꾸어가며 동작시켜보세요.

In [ ]:
age = 20
if age > 19:
    print("성인")
    print("입니다.")
else:
    print("미성년")
    print("입니다.")

위의 코드는 잘 동작하는 코드입니다. tab 표현, 혹은 띄어쓰기로 if 혹은 else문의 몸체에 들어갈 부분이 표현되어 있습니다.

이때 tab 표현을 하지 않으면 어떻게 될까요?

In [ ]:
age = 20
if age > 19:
print("성인")
print("입니다.")
else:
print("미성년")
print("입니다.")

if문의 몸체에 해당하는 부분이 없다고 error가 뜨네요. 그럼, if문 밑과 else문 밑만 indented block을 줘봅시다.

In [ ]:
age = 20
if age > 19:
    print("성인")
print("입니다.")
else:
    print("미성년")
print("입니다.")

if문이 끝나고 indented block 이후에 바로 else 문이 나와야 하는데,

if문의 indented block이 끝나고 if문에 속하지 않은 print("입니다.")가 나오며 else가 나올 자리를 방해했습니다. 이 부분을 없애봅시다.

In [ ]:
age = 20
if age > 19:
    print("성인")
    print("입니다.")
else:
    print("미성년")
print("입니다.")

우리는 else에 해당할 때만 마지막 줄 print("입니다")를 출력하길 희망했지만, 해당 부분이 두 번이나 나왔네요.

왜 그럴까요? 이 python 코드를 c언어에서 표현하면 다음과 같습니다.

\#include <stdio.h>  
int age = 20  
if(age > 19){  
    
    printf("성인");      

    printf("입니다.");  
}  
else {  

    printf("미성년");  
}  
printf("입니다.");  

왜 그런지 아시겠지요?

따라서 python에서는 c언어와는 다르게, 들여쓰기가 범위를 표현하는 중요한 역할을 하기 때문에, 잘 작성해야합니다.

개행도 마찬가지입니다. c언어에서는 하나의 문장이 끝났음을 ; (세미콜론) 을 사용하여 표현했다면, python은 개행을 사용하여 표현합니다.

아래 두 예제를 봅시다.

In [ ]:
print("hello")

In [ ]:
print("hello
      ")

위와 같이, 개행은 하나의 문장이 끝났음을 의미하기 때문에 print함수 중간에 개행을 사용하면 python은 인식하지 못하고 오류 처리를 하게 됩니다.

#
## 1.2. 주석

python에서 주석은 한 줄만 주석처리하는 방법과 여러줄을 한꺼번에 주석처리하는 방법이 있습니다.

* 한 줄을 주석처리할 때는 # 문자를 사용합니다.
* 여러 줄을 주석처리할 때는 큰 따옴표 (") 나 작은 따옴표 (') 를 세 번 붙여서 (""", ''') 사용하게 됩니다.

다음의 예를 확인해볼까요?

In [ ]:
print("여러줄주석예시1")
"""
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
"""
print("여러줄주석예시2")

In [ ]:
print("여러줄주석예시3")
'''
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
'''
print("여러줄주석예시4")

In [ ]:
print("한줄주석예시1") # 한줄주석예시 1
print("한줄주석예시2") ### 한줄주석예시 2

아래 코드는 학생들의 번호와 성적을 알려주는 간단한 코드입니다.

해당 코드는 처음 코드를 보는 사람들을 위해 설명이 필요합니다. 또한 설명을 단 사람이 누군지에 대한 내용도 있으면 좋겠죠.

그럼, 주석을 이용해서 아래의 코드를 꾸며볼까요?

In [ ]:
score = [ 88, 95, 70, 100, 99 ]
no = 1
for s in score:
    print(str(no) + "번 학생의 성적 :", s)
    no += 1

잘 했습니다.

이제 markdown을 이용해서 설명을 들으며 아래 내용에 대해 필기하며 들어보도록 합시다.

# 2. print 함수
print 함수에는 다음과 같은 사용 방법이 있습니다.

* 출력시 사용되는 print 함수는 "print(출력 내용 [, sep=구분자] [, end=끝 문자])" 형태로 사용
* 괄호 안에 상수, 변수, 수식 등 출력 내용을 입력하여 사용* 스크립트 모드에서 값 출력 시에는 반드시 print 명령 사용* 출력할 내용 여러 개일 경우 콤마로 나열* 여러 개 출력 결과를 공백이나 구분자(Separator) 사용하여 구별* f-string, 형식 지정자 출력

예제를 봅시다.

### 2.1. 기본 출력

In [ ]:
print("Hello World!")

### 2.2. 여러 인자 출력

In [ ]:
print("Python", "is", "fun!")

### 2.3. 변수 출력

In [ ]:
name = "Alice"
age = 25
print("Name:", name, "Age:", age)

In [ ]:
print(3 + 4)
4 * 5				# 무시된다.
a = 1
b = 2
print(a + b)

### 2.4. f-string 포맷팅, format 중괄호 포맷팅

f-string 포맷팅: 문자열 앞에 f를 붙여주고, 중괄호 안에 직접 변수 이름이나 출력하고 싶은 것을 바로 넣는 print 사용 방법

In [ ]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

중괄호 포맷팅: 변수 타입에 관계 없이 {}를 사용하여 위치를 표현하는 방법

In [ ]:
print("My name is {} and I am {} years old.".format(name, age))

실수 형태를 표기할 때 (소숫점 표기) 자릿수 및 정렬 형태를 지정해줄 수 있다.

In [ ]:
print('{}'.format(1234567890))
print('{:>10}'.format(5)) # >는 오른쪽정렬
print('{:<10f}'.format(5)) # <는 왼쪽정렬, 실수는 기본적으로 소수점6자리까지 표현
print('{:^10.2f}'.format(5)) # ^는 가운데정렬, 10을 썼으니 10자리 기준 가운데 정렬, 소수점 2자리 감안해서 가운데 정렬

### 2.5. 형식 지정자로 출력

In [ ]:
name = "Alice"
age = 25
print("My name is %s and I am %d years old." % (name, age))

### 2.6. sep 인자를 사용하여 구분자 변경

In [ ]:
print("Python", "is", "fun!", sep="-")

In [ ]:
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep = ' 찍고 ')

### 2.7. end 인자를 사용하여 출력 줄바꿈 변경

In [ ]:
a = '강아지'
b = '고양이'
print(a)
print(b)

In [ ]:
a = '강아지'
b = '고양이'
print(a, end = '')
print(b)

In [ ]:
print("Hello", end=", ")
print("World!")

### 2.8. escape character 사용

In [ ]:
print("She said, \"Python is awesome!\"")
print("Backslash: \\")

# 3. input 함수
출력에는 print 함수를 쓴다면, 입력에는 input 함수를 씁니다.

* 변수 = input('질문 내용')
* 괄호 안에 질문 내용 입력
* 사용자가 질문에 대해 입력한 값 돌려줌
* 입력받은 문자열을 수로 바꿈

### 3.1. 기본 입력

In [ ]:
name = input("Enter your name: ")
print(name)

In [ ]:
name = input('이름을 입력하세요 : ')
print('안녕하세요', name, '님')

In [ ]:
price = input('가격을 입력하세요: ')
num = input('개수를 입력하세요: ')
sum = int(price) * int(num)
print('총액은', sum, '원입니다')

### 3.2. 숫자 변환

In [ ]:
age = int(input("나이를 입력하세요: "))
print("당신은", age, "살 입니다.")

In [ ]:
price = int(input('가격을 입력하세요: '))
num = int(input('개수를 입력하세요: '))
sum = price * num
print('총액은', sum, '원입니다')

In [ ]:
height = float(input("신장 (키 cm)을 입력하세요: "))
print("당신의 키는", height, "cm 입니다.")

### 3.3. 여러 입력 값 한꺼번에 받기

In [ ]:
x, y = input("두 정수 값을 띄어쓰기로 분리하여 입력하세요.").split()
x = int(x)
y = int(y)
print("The sum of", x, "and", y, "is", x + y)

### 3.4. 수식을 처리한 결과 입력 받기

In [ ]:
expression = input("수식을 입력하세요 (예, 3 + 5): ")
result = eval(expression)
print(f"The result is: {result}")

### 3.5. 기본 값으로 입력 받기

In [ ]:
name = input("이름을 입력하세요 (기본값 'Guest'): ") or "Guest"
print(name)

# 4. 변수
변수 : 메모리에 이름을 붙이고 값을 저장하는 것

명칭 : 변수가 다른 것과 구분되도록 이름 붙인 것

규칙
* 키워드나 내장 함수, 표준 모듈명은 사용할 수 없음
* 모든 명칭은 대소문자를 구분함
* 알파벳, 밑줄 문자, 숫자 등으로 구성
* 공백, +, - 등은 사용 불가
* 첫 글자로 숫자 사용 불가

### 4.1. 변수 선언과 할당

In [ ]:
안녕 = 1
print(안녕)

### 4.2. 여러 변수에 값 할당

In [ ]:
pi, x = 3.14, 3
print(pi, x, pi*x*2)

### 4.3. 여러 변수를 동시에 변경

In [ ]:
a, b = 3, 2
print(a, b)
a, b = b, a
print(a, b)

In [ ]:
prinT = 123
print(prinT)

### 4.4. 키워드는 변수명으로 불가

In [ ]:
if = 123
print(if)

In [ ]:
iF = 123
print(iF)

In [ ]:
a+12 = 123
print(a+12)

### 4.5. 변수 삭제

동적 타입 (Dynamic Type)
* 실행 중에 변수 타입 바꿀 수 있음

변수는 일단 만들어지면 계속 존재하여 값 유지함
* del 명령으로 삭제

In [ ]:
print(iF)

In [ ]:
del(iF)

In [ ]:
print(iF)

### 4.6. 변수의 타입 확인

In [ ]:
a1, a2, a3 = 1, 3.14, "안녕하세요"
print(type(a1))
print(type(a2))
print(type(a3))

# 5. 연습

오늘은 print함수와 input 함수, 그리고 변수의 사용 방법에 대해 배웠습니다.  
오늘 배운 것들을 이용해서 다음의 연습문제를 구성해봅시다.  
연습문제 : 사용자에게 이름, 학년, 수학성적, 국어성적, 영어성적을 입력받고 이름과 학년, 그리고 모든 성적의 평균을 구하는 프로그램을 만들어보세요.

예상 결과 :   
이름 :  김영희  
학년 :  1  
수학성적 :  100  
국어성적 :  100  
영어성적 :  90   
이름 : 김영희, 학년 : 1, 평균 : 96.67