# Week 6 (2) - 반복문 + list + tuple
### 인공지능과 컴퓨팅 사고 - AI Computational Thinking
##### Author : Jihyeon Ryu
##### Date : 2024-10-9 (Wed)

# 1. 리스트

리스트 (List)
* 자료의 집합
* 리스트는 여러 개 값을 집합적으로 저장
  
요소 (Element)
* 리스트에 소속되는 각각의 값 
* 리스트에는 주로 같은 타입 요소를 모음

In [ ]:

# =============== listscore  ===============
score = [ 88, 95, 70, 100, 99 ]
sum = 0
for s in score:
    sum += s
print("총점 : ", sum)
print("평균 : ", sum / len(score))

개별 요소 읽기와 요소의 범위 지정

In [ ]:

# =============== listslice  ===============
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:5])        # 2~5까지
print(nums[:4])         # 처음부터 4까지
print(nums[6:])         # 6에서 끝까지
print(nums[1:7:2])      # 1~7까지 하나씩 건너뛰며

In [ ]:

# =============== listassign  ===============
score = [ 88, 95, 70, 100, 99 ]
print(score[2])     # 70
print(score)    
score[2] = 55       # 값 변경
print(score[2])     # 55
print(score)

In [ ]:

# =============== listreplace  ===============
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums[2:5] = [20, 30, 40]
print(nums)
nums[6:8] = [90, 91, 92, 93, 94]
print(nums)

In [ ]:

# =============== rangeremove  ===============
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums[2:5] = []
print(nums)
del nums[4]
print(nums)

In [ ]:

# =============== listcat  ===============
list1 = [1, 2, 3, 4, 5]
list2 = [10, 11]
listadd = list1 + list2
print(listadd)
listmulti = list2 * 3
print(listmulti)

이중 리스트
* 리스트의 요소로 리스트 넣어 중첩할 수 있음
* 이중 리스트 순회하여 최종값 읽으려면 루프도 이중으로 하여야 함

In [ ]:

# =============== nestlist  ===============
lol = [ [1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(lol[0])
print(lol[2][1])

for sub in lol:
    for item in sub:
        print(item, end=' ')
    print()

In [ ]:


# =============== nestscore  ===============
score = [
    [88, 76, 92, 98],
    [65, 70, 58, 82],
    [82, 80, 78, 88]
    ]

total = 0
totalsub = 0
for student in score:
    sum = 0
    for subject in student:
        sum += subject
    subjects = len(student)
    print("총점 %d, 평균 %.2f" % (sum, sum / subjects))
    total += sum
    totalsub += subjects
print("전체평균 %.2f" % (total / totalsub))

리스트 컴프리헨션 (List Comprehension)
* [수식 for 변수 in 리스트 if 조건]

In [ ]:
# =============== listcomp  ===============
nums = [n * 2 for n in range(1, 11)]
for i in nums:
    print(i, end = ', ')

범위에 리스트 대입하여 여러 요소 한꺼번에 삽입 가능

In [ ]:
# =============== insertrange  ===============
nums = [1, 2, 3, 4]
nums[2:2] = [90, 91, 92]
print(nums)

nums = [1, 2, 3, 4]
nums[2] = [90, 91, 92]
print(nums)

# 2. 리스트 함수

### 2.1. list 삽입
* append : 인수로 전달한 요소를 리스트 끝에 추가
* insert : 삽입할 위치와 요소값을 전달받아 리스트 중간에 삽입
* extend : list 뒤에 list를 붙여 리스트 확장

In [ ]:
# =============== listinsert  ===============
nums = [1, 2, 3, 4]
nums.append(5)
print(nums)
nums.insert(2, 99)
print(nums)

In [ ]:
# =============== insertrange  ===============
nums = [1, 2, 3, 4]
nums[2:2] = [90, 91, 92]
print(nums)

nums = [1, 2, 3, 4]
nums[2] = [90, 91, 92]
print(nums)

In [ ]:
# =============== extend  ===============
list1 = [1, 2, 3, 4, 5]
list2 = [10, 11]
list3 = list1 + list2
list1.extend(list2)
print(list1)
print(list3)

### 2.2. list 삭제
* remove : 인수로 전달받은 요소값 찾아 삭제
* del : 순서값 지정하여 삭제
* clear : 리스트 모든 요소 삭제
* 빈 리스트 대입 : 일정 범위 요소 다수 삭제
* pop() : 리스트의 마지막에 있는 값(기본값, 위치 수정 가능)을 꺼냄

In [3]:
# =============== listremove  ===============
score = [ 88, 95, 70, 100, 99, 80, 78, 50 ]
print(score.index(80))
score.remove(100)
print(score)
del(score[2])
print(score)
score[1:3] = []
print(score)
print(score.pop())
print(score)

5
[88, 95, 70, 99, 80, 78, 50]
[88, 95, 99, 80, 78, 50]
[88, 80, 78, 50]
50
[88, 80, 78]

In [ ]:
# =============== pop  ===============
score = [ 88, 95, 70, 100, 99 ]
print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

In [ ]:
# =============== pop  ===============
score = [ 88, 95, 70, 100, 99 ]
print(score.pop())
print(score.pop())
print(score.pop(0))
print(score)

### 2.3. list 검색
* index : 특정 요소 위치 찾음
* count : 특정 요소값의 개수 조사
* min / max : 리스트 요소 중 최소값 / 최대값 찾음
* in / not in : 특정 요소 유무 여부 검사

In [ ]:
# =============== listindex  ===============
score = [ 88, 95, 70, 100, 99, 80, 78, 50 ]
perfect = score.index(100)
print("만점 받은 학생은 " + str(perfect) + "번입니다.")
pernum = score.count(100)
print("만점자 수는 " + str(pernum) + "명입니다")

In [ ]:
# =============== listmin  ===============
score = [ 88, 95, 70, 100, 99, 80, 78, 50 ]
print("학생 수는 %d명입니다." % len(score))
print("최고 점수는 %d점입니다." % max(score))
print("최저 점수는 %d점입니다." % min(score))

In [ ]:
# =============== listin  ===============
ans = input("결제 하시겠습니까? ")
if ans in ['yes', 'y', 'ok', '예', '당근']:
    print("구입해 주셔서 감사합니다.")
else:
    print("안녕히 가세요.")

### 2.4. list 정렬
* 요소를 크기순으로 재배열
* sort : 리스트 정렬하며 요소 순서 조정. 리스트 자체 수정
* reverse : 요소 순서 반대로
* key : 정렬 시 요소 비교할 키 추출
* sorted : 리스트 그대로 두고 정렬된 새로운 리스트 만들어 리턴

In [ ]:
# =============== sort  ===============
score = [ 88, 95, 70, 100, 99 ]
score.sort()
print(score)
score.reverse()
print(score)

In [ ]:
# =============== sort2  ===============
country = ["Korea", "japan", "CHINA", "america"]
country.sort()
print(country)
country.sort(key = str.lower)
print(country)

In [ ]:
# =============== sorted  ===============
score = [ 88, 95, 70, 100, 99 ]
score2 = sorted(score)
print(score)
print(score2)

# 3. 튜플

* 불변 자료 집합
* 튜플은 초기화한 후 편집할 수 없다는 점에서 리스트와 차이
* 소괄호 사용하여 정의
* print : 튜플 출력 시 소괄호 함께 출력하여 리스트 아님을 나타냄
* 정의할 때에는 소괄호 없이 값만 나열해도 무관함
* 요소 하나밖에 없는 경우에는 값 다음에 콤마 찍어 튜플임을 표시

In [ ]:
# =============== tuplescore  ===============
score = ( 88, 95, 70, 100, 99 )
sum = 0
for s in score:
    sum += s
print("총점 : ", sum)
print("평균 : ", sum / len(score))

In [ ]:
# =============== onetuple  ===============
tu = 2,
value = 2
print(tu)
print(value)

튜플로 가능한 일
* \+ / * 연산자 사용하여 연결 및 반복
* 요소를 변경하거나 삭제할 수는 없음

In [ ]:
# =============== tupleop  ===============
tu = 1, 2, 3, 4, 5
print(tu[3])         # 가능
print(tu[1:4])       # 가능
print(tu + (6, 7))    # 가능
print(tu * 2)        # 가능      
tu[1] = 100          # 불가능
del tu[1]            # 불가능

* 여러 개의 변수에 값을 한꺼번에 대입
* 좌변에 변수 목록, 우변에 튜플을 대입

In [ ]:
# =============== unpacking  ===============
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

In [ ]:
# =============== swap  ===============
a, b = 12, 34
print(a, b)
a, b = b, a
print(a, b)

* divmod : 나눗셈의 몫과 나머지를 튜플로 묶어 리턴

In [ ]:
# =============== divmod  ===============
d, m = divmod(7, 3)
print("몫", d)
print("나머지", m)

* tuple과 list는 상호 변환 가능

In [ ]:
# =============== convertlist  ===============
score = [ 88, 95, 70, 100, 99 ]  ## list 로 정의
tu = tuple(score)                ## tuple로 변환
#tu[0] = 100
print(tu)
li = list(tu)                    ## list로 변환
li[0] = 100
print(li)

In [6]:
score = [ 88, 95, 70, 100, 99, 80, 78, 50 ]
print(score.index(80))
score.remove(100)
del(score[2])
score[1:3] = []
print(score)
print(score.pop())
print(score)
score.sort()
tu = tuple(score)
a, b, c = tu
print(a)

5
[88, 80, 78, 50]
50
[88, 80, 78]
78