# Week 2 (2) - 자료형
### 인공지능과 컴퓨팅 사고 - AI Computational Thinking
##### Author : Jihyeon Ryu
##### Date : 2024-9-11 (Wed)

# 0. 복습
# 0.1. 기본구조
## 0.1.1. 공백과 개행, 들여쓰기
c언어에서는 중괄호 {}로 범위를 표현했습니다. 그러나 파이썬은 개행과 들여쓰기로 범위를 표현합니다.
그렇다고 모든 띄어쓰기가 의미 있는 것은 아닙니다. 공백은 관련 없이 동작합니다. 예를 들어보겠습니다.

In [ ]:
print(1 + 2)
print(1+2)
print(1  +  2)

위와 같이, 파이썬 코드는 공백에는 무관하게 동작하는 것을 확인할 수 있습니다.
파이썬은 sensitive합니다. 이는 대문자와 소문자를 구분하여 인식한다는 뜻입니다.

또한, python 코드는 c언어에서 {} (중괄호) 로 표기했던 부분을 들여쓰기와 개행으로 표기합니다.

아작 python에서 if문을 배우지는 않았지만, 이미 어느정도는 알고 있으므로, if문으로 예를 들어봅시다. 아래 코드의 age를 바꾸어가며 동작시켜보세요.

In [ ]:
age = 20
if age > 19:
    print("성인")
    print("입니다.")
else:
    print("미성년")
    print("입니다.")

위의 코드는 잘 동작하는 코드입니다. tab 표현, 혹은 띄어쓰기로 if 혹은 else문의 몸체에 들어갈 부분이 표현되어 있습니다.

이때 tab 표현을 하지 않으면 어떻게 될까요?

In [ ]:
age = 20
if age > 19:
print("성인")
print("입니다.")
else:
print("미성년")
print("입니다.")

위와 같이, 개행은 하나의 문장이 끝났음을 의미하기 때문에 print함수 중간에 개행을 사용하면 python은 인식하지 못하고 오류 처리를 하게 됩니다.

#
## 0.1.2. 주석

python에서 주석은 한 줄만 주석처리하는 방법과 여러줄을 한꺼번에 주석처리하는 방법이 있습니다.

* 한 줄을 주석처리할 때는 # 문자를 사용합니다.
* 여러 줄을 주석처리할 때는 큰 따옴표 (") 나 작은 따옴표 (') 를 세 번 붙여서 (""", ''') 사용하게 됩니다.

다음의 예를 확인해볼까요?

In [ ]:
print("여러줄주석예시1")
"""
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
"""
print("여러줄주석예시2")

print("여러줄주석예시3")
'''
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
 여러줄 주석처리하고 싶을때는 큰따옴표나 작은따옴표를 활용하세요.
'''
print("여러줄주석예시4")

In [ ]:
print("한줄주석예시1") # 한줄주석예시 1
print("한줄주석예시2") ### 한줄주석예시 2

아래 코드는 학생들의 번호와 성적을 알려주는 간단한 코드입니다.

해당 코드는 처음 코드를 보는 사람들을 위해 설명이 필요합니다. 또한 설명을 단 사람이 누군지에 대한 내용도 있으면 좋겠죠.

그럼, 주석을 이용해서 아래의 코드를 꾸며볼까요?

In [ ]:
score = [ 88, 95, 70, 100, 99 ]
no = 1
for s in score:
    print(str(no) + "번 학생의 성적 :", s)
    no += 1

잘 했습니다.

이제 markdown을 이용해서 설명을 들으며 아래 내용에 대해 필기하며 들어보도록 합시다.

# 0.2. print 함수
print 함수에는 다음과 같은 사용 방법이 있습니다.

* 출력시 사용되는 print 함수는 "print(출력 내용 [, sep=구분자] [, end=끝 문자])" 형태로 사용
* 괄호 안에 상수, 변수, 수식 등 출력 내용을 입력하여 사용* 스크립트 모드에서 값 출력 시에는 반드시 print 명령 사용* 출력할 내용 여러 개일 경우 콤마로 나열* 여러 개 출력 결과를 공백이나 구분자(Separator) 사용하여 구별

예제를 봅시다.

In [ ]:
print(3 + 4)
4 * 5				# 무시된다.
a = 1
b = 2
print(a + b)

In [ ]:
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep = ' 찍고 ')

In [ ]:
a = '강아지'
b = '고양이'
print(a)
print(b)

In [ ]:
a = '강아지'
b = '고양이'
print(a, end = '')
print(b)

# 0.3. input 함수
출력에는 print 함수를 쓴다면, 입력에는 input 함수를 씁니다.

* 변수 = input('질문 내용')
* 괄호 안에 질문 내용 입력
* 사용자가 질문에 대해 입력한 값 돌려줌
* 입력받은 문자열을 수로 바꿈

In [ ]:
price = input('가격을 입력하세요 : ')
num = input('개수를 입력하세요 : ')
sum = int(price) * int(num)
print('총액은', sum, '원입니다')

In [ ]:
price = int(input('가격을 입력하세요 : '))
num = int(input('개수를 입력하세요 : '))
sum = price * num
print('총액은', sum, '원입니다')

In [ ]:
name = input('이름을 입력하세요 : ')
print('안녕하세요', name, '님')

# 0.4. 변수
변수 : 메모리에 이름을 붙이고 값을 저장하는 것

명칭 : 변수가 다른 것과 구분되도록 이름 붙인 것

규칙
* 키워드나 내장 함수, 표준 모듈명은 사용할 수 없음
* 모든 명칭은 대소문자를 구분함
* 알파벳, 밑줄 문자, 숫자 등으로 구성
* 공백, +, - 등은 사용 불가
* 첫 글자로 숫자 사용 불가

In [ ]:
안녕 = 1
print(안녕)

In [ ]:
prinT = 123
print(prinT)

In [ ]:
if = 123
print(if)

In [ ]:
iF = 123
print(iF)

In [ ]:
a+12 = 123
print(a+12)

동적 타입 (Dynamic Type)
* 실행 중에 변수 타입 바꿀 수 있음

변수는 일단 만들어지면 계속 존재하여 값 유지함
* del 명령으로 삭제

In [ ]:
print(iF)

In [ ]:
del(iF)

In [ ]:
print(iF)

# 0.5. 연습 답안

오늘은 print함수와 input 함수, 그리고 변수의 사용 방법에 대해 배웠습니다.  
오늘 배운 것들을 이용해서 다음의 연습문제를 구성해봅시다.  
연습문제 : 사용자에게 이름, 학년, 수학성적, 국어성적, 영어성적을 입력받고 이름과 학년, 그리고 모든 성적의 평균을 구하는 프로그램을 만들어보세요.

In [ ]:
name = input('이름 :')
grade = input('학년 :')
math = int(input('수학성적 :'))
korean = int(input('국어성적 :'))
english = int(input('영어성적 :'))
sum = (math + korean + english)/3
print(f'이름 : {name}, 학년 : {grade}, 평균 : {sum:.2f}')

#
# 1. 자료형
# 1.1. 정수형


* 가장 간단한 수치형
* 소수점 이하 값은 표현할 수 없음
* 10진수 아닌 정수는 앞에 접두 붙여 진법 지정, 표시

In [ ]:
a = 12345
print(a)

진법, 접두, 사용가능 숫자, 예

* 16진법(hex), 0x, 0123...9,abc...f, 0x2f
* 8진법(oct), 0o, 012...7, 0o17
* 2진법(bin), 0b, 0,1, 0b1101

In [ ]:
a = 0x100
print(a)

In [ ]:
a = 0o100
print(a)

In [ ]:
a = 0b100
print(a)

In [ ]:
print(hex(26))
print(oct(26))
print(bin(13))

## 1.2. 실수형


* 소수점 이하 정밀한 값 표현
* 아주 크거나 작은 값은 부동 소수점 방식으로 표기
* 가수E지수
* 9조 4600억 = 9.46e12
* 숫자 짧아지고 비교에도 용이함
* round 함수 : 반올림을 수행

In [ ]:
print(0.1234)

In [ ]:
a = 0.1234
print(a)

In [ ]:
print(9.46e12)   # 9.46 * 10^12

In [ ]:
print(1e10)    # 1.00 * 10^10

In [ ]:
a = 1e-3    # 1.00 * 10^-3
print(a)

In [ ]:
pi = 3.141592653589793
print(round(pi, 2))  # 소수점 둘째 자리까지 반올림
print(f"{pi:.3f}")   # 소수점 셋째 자리까지 표현

## 1.3. 복소수형


* 실수부+허수부j
* 알파벳 j 접미가 복소수임을 나타냄
* 복소수의 실수부와 허수부만 떼어내기 위해 real (실수부), imag (허수부) 매서드를 사용

In [ ]:
print(1+2j)

In [ ]:
print(3, 1+2j)

In [ ]:
a = 1 + 2j
b = 2 + 3j
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a.real)
print(a.imag)

## 1.4. 문자열


* 일련의 문자를 따옴표로 감싸 나열한 것
* 각종 문자, 기호, 숫자 등 포함 가능
* 따옴표는 따옴표 안에 적을 수 없음
* 큰따옴표 포함하려면 문자열을 작은따옴표로 감싸야함.
* 한 문자열에 두 따옴표 섞어 사용할 수 없음

In [ ]:
a = "Korea 서울 1234"
print(a)

In [ ]:
b = 'I say "help" to you'
print(b)

* 문자열의 대문자와 소문자로 변환하여 확인하는 매서드 upper, lower
* 특정 문자열을 다른 문자열로 변환하는 매서드 replace
* 문자열의 문자를 list처럼 분해해서 볼 수 있음

In [ ]:
text = "Python Programming"
print(text[0])     # 첫 번째 문자
print(text[-1])    # 마지막 문자
print(text[7:11])  # 슬라이싱 (7번째부터 11번째 전까지)

In [ ]:
print(len(text))        # 문자열의 길이
print(text.upper())     # 대문자로 변환
print(text.lower())     # 소문자로 변환
print(text.replace("Python", "Java"))  # 문자열 교체

## 1.5. 확장열 (Escape Sequence)

* 문자열에서 특수한 역할을 하는 특수 문자열
* 따옴표 안에 오기 힘든 다양한 문자들을 \ 문자 뒤에 표기
* \n : 개행
* \t : 탭
* \" : 큰따옴표
* \' : 작은따옴표
* \\ : \ 문자

In [ ]:
a = "all\nmy\nfriend"
print(a)

따옴표 3개 연속으로 사용하여 긴 문자열 정의

In [ ]:
s = """강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀
구름에 달 가듯이 가는 나그네"""
print(s)

계속문자  \  사용하는 것도 가능

In [ ]:
s = "강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네 \
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀 \
구름에 달 가듯이 가는 나그네"
print(s)

* 코드에서도 활용 가능
* 들여쓰기는 무관함
* 개행하려면  \n  확장열  사용

In [ ]:
totalsec = 365 * 24 * \
           60 * 60
print(totalsec)

In [ ]:
s = "korea" "japan" "2002"
print(s)

전체를 괄호로 묶어서, 여러 개 문자열 개행한 것을 긴 문자열로 만듦

In [ ]:
s = ("korea"
     "japan"
     "2002")
print(s)

유니코드 : 다양한 문자 및 숫자들을 컴퓨터가 인식하도록 각 번호에 문자를 할당

유니코드 문자 및 숫자를 표현하는 방법 : ord, chr

*  ord(문자) :하나의 문자를 인자로 받고 해당 문자에 해당하는 유니코드 정수를 반환
* ord('a')를 넣으면 정수 97을 반환합니다.
* chr(정수) : 하나의 정수를 인자로 받고 해당 정수에 해당하는 유니코드 문자를 반환
* 인자(정수)의 유효 범위는 0 ~ 1,114,111 (16진수 0x10 FFFF)까지 입니다.
* chr(97)을 하면 문자 'a'를 반환합니다.

In [ ]:
print(ord('a'))
print(chr(98))
for c in range(ord('A'), ord('Z') + 1):
    print(chr(c), end = '')

# 2. 연습

오늘은 여러가지 자료형들에 대해 배웠습니다.

오늘 배운 것들을 이용해서 다음의 연습문제를 구성해봅시다.

연습문제 : 다음 나와있는 변수를 활용하여, print 함수를 하나만 사용해서 다음 문자열이 나오는 코드를 만드세요.

문자열 : 

" + 강아지 + \ + ' + 고양이 + \ + ' + 닭 + 염소 + 호랑이 + "

In [ ]:
a = "강아지"
b = "고양이"
c = "닭"
d = "염소"
e = "호랑이"

# 2.1. 연습 2
연습문제 2 : 숫자 257을 16진수, 8진수로 얼만지 확인하는 코드를 작성하세요. 해당 값을 확인하면 이를 역으로 257를 반환하는 코드를 작성하세요.