# Week 3 (1) - 연산자
### 인공지능과 컴퓨팅 사고 - AI Computational Thinking
##### Author : Jihyeon Ryu
##### Date : 2024-9-16 (Mon)

# 0. 복습
# 0.1. 자료형
# 0.1.1. 정수형


* 가장 간단한 수치형
* 소수점 이하 값은 표현할 수 없음
* 10진수 아닌 정수는 앞에 접두 붙여 진법 지정, 표시

In [ ]:
a = 12345
print(a)

진법, 접두, 사용가능 숫자, 예

16진법(hex), 0x, 0123...9,abc...f, 0x2f

8진법(oct), 0o, 012...7, 0o17

2진법(bin), 0b, 0,1, 0b1101

In [ ]:
a = 0x100
print(a)

In [ ]:
a = 0o100
print(a)

In [ ]:
a = 0b100
print(a)

In [ ]:
print(hex(26))
print(oct(26))
print(bin(13))

## 0.1.2. 실수형


* 소수점 이하 정밀한 값 표현
* 아주 크거나 작은 값은 부동 소수점 방식으로 표기
* 가수E지수
* 9조 4600억 = 9.46e12
* 숫자 짧아지고 비교에도 용이함

In [ ]:
print(9.46e12)

In [ ]:
print(1e10)

In [ ]:
a = 1e10
print(a)

## 0.1.3. 복소수형


* 실수부+허수부j
* 알파벳 j 접미가 복소수임을 나타냄

In [ ]:
print(1+2j)

In [ ]:
print(3, 1+2j)

In [ ]:
a = 1 + 2j
b = 2 + 3j
print(a+b)

## 0.1.4. 문자열


* 일련의 문자를 따옴표로 감싸 나열한 것
* 각종 문자, 기호, 숫자 등 포함 가능
* 따옴표는 따옴표 안에 적을 수 없음
* 큰따옴표 포함하려면 문자열을 작은따옴표로 감싸야함.
* 한 문자열에 두 따옴표 섞어 사용할 수 없음

In [ ]:
a = "Korea 서울 1234"
print(a)

In [ ]:
b = 'I say "help" to you'
print(b)

## 0.1.5. 확장열 (Escape Sequence)

* 문자열에서 특수한 역할을 하는 특수 문자열
* 따옴표 안에 오기 힘든 다양한 문자들을 \ 문자 뒤에 표기
* \n : 개행
* \t : 탭
* \" : 큰따옴표
* \' : 작은따옴표
* \\ : \ 문자

In [ ]:
a = "all\nmy\nfriend"
print(a)

In [ ]:
s = """강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀
구름에 달 가듯이 가는 나그네"""
print(s)

In [ ]:
s = "강나루 건너서 밀밭 길을 구름에 달 가듯이 가는 나그네 \
길은 외줄기 남도 삼백리 술 익는 마을마다 타는 저녁놀 \
구름에 달 가듯이 가는 나그네"
print(s)

In [ ]:
totalsec = 365 * 24 * \
           60 * 60
print(totalsec)

In [ ]:
s = "korea" "japan" "2002"
print(s)

In [ ]:
s = ("korea"
     "japan"
     "2002")
print(s)

*  ord(문자) :하나의 문자를 인자로 받고 해당 문자에 해당하는 유니코드 정수를 반환
* ord('a')를 넣으면 정수 97을 반환합니다.
* chr(정수) : 하나의 정수를 인자로 받고 해당 정수에 해당하는 유니코드 문자를 반환
* 인자(정수)의 유효 범위는 0 ~ 1,114,111 (16진수 0x10 FFFF)까지 입니다.
* chr(97)을 하면 문자 'a'를 반환합니다.

In [ ]:
print(ord('a'))
print(chr(98))
for c in range(ord('A'), ord('Z') + 1):
    print(chr(c), end = '')

# 0.2. 연습 답안

오늘은 여러가지 자료형들에 대해 배웠습니다.

오늘 배운 것들을 이용해서 다음의 연습문제를 구성해봅시다.

연습문제 : 다음 나와있는 변수를 활용하여, print 함수를 하나만 사용해서 다음 문자열이 나오는 코드를 만드세요.

문자열 : 

" + 강아지 + \ + ' + 고양이 + \ + ' + 닭 + 염소 + 호랑이 + "

In [ ]:
a = "강아지"
b = "고양이"
c = "닭"
d = "염소"
e = "호랑이"
print("\"",a,"\\","\'",b,"\\","\'",c,d,e,"\"",sep = ' + ')

# 0.2.1. 연습 2
연습문제 2 : 숫자 257을 16진수, 8진수로 얼만지 확인하는 코드를 작성하세요. 해당 값을 확인하면 이를 역으로 257를 반환하는 코드를 작성하세요.

In [ ]:
print(hex(257), oct(257))

In [ ]:
print(0x101, 0o401)

# 1. 연산자

## 1.1. 대입 연산자
* 변수에 값을 저장하는 연산자
* 변수 = 수식	
* 대입되는 값에 따라 변수 타입이 결정됨

In [ ]:
a = 10
b = 15.5
c = 'character'
print(a,b,c)
print(type(a), type(b), type(c))

In [ ]:
a = c

In [ ]:
print(a, c)

In [ ]:
a = a + b ## error

In [ ]:
print(type(a), type(b), type(c))

In [ ]:
d = 'c'
print(d, type(d))

In [ ]:
print(type(1+2j), type([1,2,3,4]), type((1,2,3,4)), type(True))

## 1.2. 산술 연산자

* 덧셈 : +
* 뺄셈 : -
* 곱셈 : *
* 나눗셈 : /
* 거듭제곱 : **
* 정수나누기 : //
* 나머지 : %

In [ ]:
print(5/2, 5//2)

In [ ]:
print(2*5, 2**5)

## 1.3. 논리 연산자

* A and B : A와 B 둘다 True 일 때
* A or B : A 또는 B가 True 일 때
* not A : 반대논리

In [ ]:
a = True
b = False
print(a and b, a or b, not a, not b)

## 1.4. 비트 연산자

* and : &
* or : |
* xor : ^
* not : ~
* left shift : <<
* right shift : >>

In [ ]:
a = 0b00001111
b = 0b10101010
print(bin(a), bin(b)) ## 0000 생략
print(oct(a), oct(b)) ## 0000 생략
print(hex(a), hex(b)) ## 0000 생략
print(a, b)

In [ ]:
print(bin(a&b), bin(a|b), bin(a^b), bin(~a), bin(~b), bin(a<<2), bin(b<<2), bin(a>>2), bin(b>>2))

In [ ]:
print(a&b, a|b, a^b, ~a, ~b, a<<2, b<<2, a>>2, b>>2)

## 1.5. 복합 대입 연산자
* a = a + 1꼴과 같이, 우변의 값이나 수식을 좌변에 대입
* += : 좌변의 값에 우변의 값을 더하여 대입
* -= : 좌변의 값에 우변의 값을 빼서 대입
* *= : 좌변의 값에 우변의 값을 곱해서 대입

In [ ]:
x = 10
print(x)

In [ ]:
x = x + 1
print(x)

In [ ]:
x++ ## error
print(x)
x-- ## error
print(x)

In [ ]:
x += 2
print(x)

In [ ]:
x -= 10
print(x)

In [ ]:
x *= 4
print(x)

## 1.6. 문자열 연산
* \+ 와 * 연산자는 문자열에 대해서도 사용 가능
* \+ : 문자열을 연결
* \* : 문자열을 정수 횟수만큼 반복
* 단, 정수형이나 실수형 등을 문자열로 변환하고 싶을 때, str() 형변환을 사용해야함
* 마찬가지로 문자열을 정수형이나 실수형 등으로 변환하고 싶을 때, int(), float() 형변환을 사용해야함

In [ ]:
s1 = "대한민국"
s2 = "만세"
print(s1 + s2)

In [ ]:
print("좋아!" * 5)

In [ ]:
print("korea" + 2023)

In [ ]:
print("korea" + str(2023))

In [ ]:
print("korea" + "2023")

In [ ]:
print("1234" + 123)

In [ ]:
print(int("1234") + 123)

## 1.7. round 함수 : 반올림 함수

In [ ]:
print(int(2.54))			# 2
print(round(2.54))		# 3
print(round(2.54, 1))		# 2.5
print(round(123456, -3))		# 123000

# 2. 연습
오늘은 여러가지 연산자에 대해 배웠습니다.

오늘 배운 것들을 이용해서 다음의 연습문제를 구성해봅시다.

연습문제 : c언어, python, 수학 점수를 입력받아 세 점수의 평균을 소수점 두번째 자리까지 출력하는 코드를 작성하세요.

예상 결과 :

C언어 점수를 입력하세요:  50

python 점수를 입력하세요:  70

수학 점수를 입력하세요:  80

C언어 점수: 50

python 점수: 70

수학 점수: 80

평균 점수: 66.67