# Week 5 (2) - 반복문 (2)
### 인공지능과 컴퓨팅 사고 - AI Computational Thinking
##### Author : Jihyeon Ryu
##### Date : 2024-10-2 (Wed)

# 0. 반복문 복습
## 0. 1. for 문

for 반복문
* 컬렉션 요소 순서대로 반복하면서 루프 명령 실행

range 명령
* 일정 범위 리스트 만들고 그 요소를 반복

범위의 원칙
* 컴퓨터에서 범위 설정할 때에는 끝 요소 제외하고 직전까지만 포함
* range(1, 10) = 1에서 9까지의 범위
* 범위 구간 나누어 반복 처리할 때의 편의 위함

In [ ]:
for student in [1, 2, 3, 4, 5]:
    print(student, "번 학생의 성적을 처리한다.")

In [ ]:
sum = 0
for num in range(1, 101):
    sum += num
    print(num, end = ' ')
print ("sum =",sum)

In [ ]:
sum = 0
for num in range(2, 101, 2):
    sum += num
    print(num, end = ' ')
print ("sum =",sum)

In [ ]:
for x in range(1, 51):
    if (x % 10 == 0):
        print('+', end= '')
    else:
        print('-', end = '')

In [ ]:
for x in range(1, 5):
    print('-' * 9, end = '')
    print('+', end = '')

In [ ]:
for x in range(1, 51):
    if (x % 5 == 0):
        print('+', end= '')
    else:
        print('-', end = '')

In [ ]:
for x in range(1, 51): ####for(i = 0;i<10;i++)
    if (x % 10 == 5):
        print('+', end= '')
    else:
        print('-', end = '')

# 0.2. while 문


* 조건이 만족하는 동안 명령을 계속 실행
* 루프 (Loop)
* 반복적으로 처리하는 명령

* 반복문은 코드 변경이 쉬움
* 조건식이나 출력문 등 변경 통해 수정

In [ ]:
student = 1
while student <= 5: ###while(n<10){}
    print(student, "번 학생의 성적을 처리한다.")
    student += 1 ## 2, 3, 4, 5
## student == 6:빠져나옴

In [ ]:
x = 1 ####
while x <= 50: ###
    if (x % 10):
        print('-', end= '')
    else:
        print('+', end = '')
    x += 1 ###

In [ ]:
for x in range(1, 51):
    if (x % 10 == 0):
        print('+', end= '')
    else:
        print('-', end = '')

In [ ]:
num = 1 #####
sum = 0
while num <= 100: ####
    sum += num
    num += 1 ####
print ("sum =", sum)

In [ ]:
sum = 0
for num in range(1, 101): #####
    sum += num
print ("sum =",sum)

In [ ]:
num = 151
sum = 0
while num <= 300:
    sum += num
    num += 2
print ("sum =",sum)

In [ ]:
sum = 0
for num in range(151, 301, 2): #####
    sum += num
print ("sum =",sum)

break
* 반복문을 끝내는 명령
* 특정한 조건에 따라 루프 끝내고 다음 명령으로 이동

In [ ]:
score = [ 92, 86, -1, 10, 56]
for s in score:
    if (s < 0 or s > 100):
        break
    print(s)
print("성적 처리 끝")

continue
* 현재 루프만 건너뛰고 나머지는 계속 반복 수행하는 명령
* 현재 반복을 중지하고 루프 선두의 조건 점검한 후 반복 재개

In [ ]:
score = [ 92, 86, 68, -1, 56]
for s in score:
    if (s == -1):
        continue
    print(s)
print("성적 처리 끝")

이중 루프
* 루프 안 명령 자리에 또다른 루프가 들어가 중첩된 것

In [ ]:
for dan in range(2, 10):  ###dan = 2, 3, 4, ... 9
    print(dan, "단")
    for hang in range(2, 10):   ###dan = 2 : hang = 2, 3, 4, ..., 9 / dan = 3 : hang = 2, ..., 9
        print(dan, "*", hang, "=", dan * hang)
    print()

In [ ]:
dan = 2  ###초깃값
while dan <= 9: ##조건
    hang = 2  ###초깃값
    print(dan, "단")
    while hang <= 9: ##조건
        print(dan, "*", hang, "=", dan * hang)
        hang += 1##증가
    dan += 1 ##증가
    print()

In [ ]:
for dan in range(2, 10):  ###dan = 2, 3, 4, ... 9
    print(dan, "단")
    for hang in range(2, 10):   ###dan = 2 : hang = 2, 3, 4, ..., 9 / dan = 3 : hang = 2, ..., 9
        print(dan, "*", hang, "=", dan * hang)
    print()

In [ ]:
for ten in range(0, 5) : ### 0, 1, ..., 4
    for num in range(ten * 10, ten * 10 + 9) : ## 0: (0, 10), 1: (10, 20), 2: (20, 30), 3: (30, 40) :30...39, 4: (40, 50) :40...49
        print(num, end = ', ')
    print(ten*10+9)

In [ ]:
for y in range(1, 10) : ###y = 1,...,9
    for x in range(y) : ###x = 0,...,y-1 (y = 9, 0...8)
        print("*", end = '')
    print()

# 0.3. 연습
for 반복문을 사용하여 사용자가 입력한 숫자의 팩토리얼 값을 계산하세요. 팩토리얼은 다음과 같이 구성됩니다.  
$N! = N \cdot N-1 \cdot N-2 \cdot ... \cdot 2 \cdot 1$, 단 $N$은 자연수

In [ ]:
n=int(input("N을 입력하세요:"))
factorial = 1
if n>0:
    for i in range(1, n + 1):
        factorial *= i
    print(f"{n} 팩토리얼은 {factorial}입니다.")
else:
    print("1보다 작은 정수입니다.")

# 1. 배운 것들로 연습해보기

### (문제 1) 1부터 100까지의 숫자 중에서 짝수만 출력하는 프로그램을 작성하세요.

### (문제 2) 사용자로부터 양의 정수 n을 입력받고, 1부터 n까지의 모든 숫자를 더한 값을 계산하는 프로그램을 작성하세요.

### (문제 3) 소수는 1과 자기 자신으로만 나누어 떨어지는 자연수입니다. 주어진 자연수가 소수인지 아닌지를 판별하는 프로그램을 작성하세요. 다음의 조건을 만족해야 합니다.
* 사용자로부터 하나의 자연수를 입력받습니다.
* 입력된 수가 소수인 경우, "입력한 숫자는 소수입니다."라는 메시지를 출력합니다.
* 입력된 수가 소수가 아닌 경우, "입력한 숫자는 소수가 아닙니다."라는 메시지를 출력합니다.
* 입력된 수가 1 이하인 경우, "잘못된 입력입니다."라는 메시지를 출력합니다.

### (문제 4) 사용자로부터 양의 정수 n을 입력받고, 2부터 n까지의 모든 소수를 출력하는 프로그램을 작성하세요.

### (문제 5) 사용자로부터 양의 정수 n을 입력받고, n번째 피보나치 수를 계산하여 출력하는 프로그램을 작성하세요. 단, 첫번째 피보나치 수는 0, 두번째 피보나치 수는 1이며, n번째 피보나치 수 $f_n$은 $f_n = f_{n-1} + f_{n-2}$ 를 만족합니다.

### (문제 6) 사용자로부터 양의 정수 n을 입력받고, 다음과 같은 다이아몬드 형태를 출력하는 프로그램을 작성하세요 (n = 4 예시)

In [ ]:
   *  
  ***  
 *****  
*******  
 *****  
  ***  
   *

### (문제 7) 사용자로부터 양의 정수 n을 입력받고, 다음과 같은 모래시계 모양을 출력하는 프로그램을 작성하세요 (n = 5 예시)

In [ ]:
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

### (문제 8) 다음과 같은 패턴으로 숫자를 출력하는 프로그램을 작성하세요 (n = 5 예시).

1 2 3 4 5   
10 9 8 7 6   
11 12 13 14 15   
20 19 18 17 16   
21 22 23 24 25

### (문제 9) 다음과 같은 패턴으로 숫자를 출력하는 프로그램을 작성하세요 (n = 5 예시).

1 10 11 20 21   
2 9 12 19 22   
3 8 13 18 23   
4 7 14 17 24   
5 6 15 16 25